*{
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 400px;
    margin: 10% auto;
    border: dotted 10px black;
    padding: 70px;
}

.img img{
    width: 150px;
    height: 130px;
    border-radius: 10px;
}

.img :hover {
    transform: scale(0.8);
}
