*{
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 400px;
    margin: 10% auto;
    border: dotted 10px black;
    padding: 70px;
}

.container {

    justify-content: center;
}

.img img {
    width: 150px;
    height: 130px;
    border-radius: 10px;
}

.img :hover {
    transform: scale(1.15);
}

.titulo_produto {
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(66, 64, 64);
    
}

